.month-view{
    width: 80%;
    max-width: 1200px;
    background-color: aliceblue;
    flex-direction: column;
    flex-wrap: wrap;
}

.main-div{
    display:flex;
    width: 1600px;
    
    
}



.misc-div{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 76.42vh;
    /* max-width:1200px */
    
}

.w-100{
    width: 100%;

}

.w-70{
    width: 70%;
}

.w-30{
    width: 30%
}

.h-60{
    height: 60%;
}

.h-20{
    height: 20%;
}

