
<div class="top-nav">
  <button (click)="setTab('calendar-view')">Ημερολόγιο</button>
  <button (click)="setTab('patients')">Ασθενείς</button>
  <button (click)="setTab('statistics')">Στατιστικά</button>
  <button (click)="setTab('pending')">Εκκρεμότητες</button>
</div>

<div class="content">
  @if (activeTab === 'calendar-view') {
    <app-calendar-view></app-calendar-view>
  } @else if (activeTab === 'patients') {
    <app-patients></app-patients>
  } @else if (activeTab === 'statistics') {
    <app-statistics></app-statistics>
  } @else if (activeTab === 'pending') {
    <app-pending-tasks></app-pending-tasks>
  }
</div>