<div class="top-nav light-pink pt-2">
  <div>MedPortal</div>

  <div class="nav-tabs">
    <button [class.active]="activeTab === 'calendar-view'" (click)="setTab('calendar-view')">Ημερολόγιο</button>
    <button [class.active]="activeTab === 'patients'"  (click)="setTab('patients')">Ασθενείς</button>
    <button [class.active]="activeTab === 'pending'" (click)="setTab('pending')">Εκκρεμότητες</button>
    <button [class.active]="activeTab === 'statistics'"  (click)="setTab('statistics')">Στατιστικά</button>
  </div>
  
  <button class="logout-btn">Αποσύνδεση</button>
</div>

<div class="main-content basic-green ">
  @if (activeTab === 'calendar-view') {
    <app-calendar-view></app-calendar-view>
  } @else if (activeTab === 'patients') {
    <app-patients></app-patients>
  } @else if (activeTab === 'statistics') {
    <app-statistics></app-statistics>
  } @else if (activeTab === 'pending') {
    <app-pending-tasks></app-pending-tasks>
  }
</div>
