.container{
    flex-direction: column;
    align-items: center;
    background-color: rgb(247, 240, 240);
    text-align: center;
    
    
}

.mg-2{
    margin-top: 2rem;
}

.center{
    padding-left: 4 rem;
}

.soft-corners{
    border-radius: 12px;
}