<div class="container soft-corners2 light-pink shadow">
<h1 class="center login-letters  " >LOG IN</h1> 
<input [(ngModel)]="username" placeholder="Username" class=" soft-corners"> <br>
<input [(ngModel)]="password" type="password" placeholder="Password" class=" soft-corners"> <br>
<button (click)="onLogin()" class=" darker-green soft-corners shadow">Είσοδος</button>
<p class="">Δεν έχεις λογαριασμό;
<br>
<a (click)="onCreateAccountClick()" >Δημιούργησε έναν εδώ!</a></p>
</div>

<div class="light-pink mt-2 shadow soft-corners">
    <p>Διαχείριση ραντεβού και καταγραφή ασθενών</p>
</div>

